[submodule "Packages/Mirror"]
	path = Packages/Mirror
	url = https://github.com/willneedit/Mirror.git
[submodule "Packages/Unity-IPFS-Engine"]
	path = Packages/Unity-IPFS-Engine
	url = https://github.com/willneedit/Unity-IPFS-Engine.git
