[submodule "Packages/Mirror"]
	path = Packages/Mirror
	url = https://github.com/willneedit/Mirror.git
[submodule "Packages/UnityAsyncImageLoader"]
	path = Packages/UnityAsyncImageLoader
	url = https://github.com/willneedit/UnityAsyncImageLoader.git
[submodule "Packages/Arteranos-IPFS-interface"]
	path = Packages/Arteranos-IPFS-interface
	url = https://github.com/willneedit/Arteranos-IPFS-interface.git
