<?xml version='1.0' encoding='utf-8' ?>

<?include ..\Setup\Data.wxi ?>

<Wix xmlns='http://schemas.microsoft.com/wix/2006/wi' xmlns:fw="http://schemas.microsoft.com/wix/FirewallExtension">
	<Product Name='$(var.product)' Manufacturer='$(var.manufacturer)'
			 Id='*'
			 UpgradeCode='$(var.UpgradeCode)'
			 Language='1033' Codepage='1252' Version='$(var.version)'>

		<Package Id='*' Keywords='Installer' Description="$(var.manufacturer)'s $(var.product) Installer"
			Comments="$(var.manufacturer)'s $(var.product) installer" Manufacturer='$(var.manufacturer)'
			InstallerVersion='200' Languages='1033' Compressed='yes' SummaryCodepage='1252'
				 InstallScope='perMachine' />

		<Upgrade Id='$(var.UpgradeCode)'>
			<UpgradeVersion OnlyDetect='yes' Property='NEWERFOUND' Minimum='$(var.version)' IncludeMinimum='no' />
			<UpgradeVersion OnlyDetect='no' Property='PREVIOUSFOUND' Minimum='1.0.0' Maximum='$(var.version)' IncludeMaximum = 'no' />
		</Upgrade>

		<CustomAction Id='NoDowngrade' Error='A later version of [ProductName] is already installed.' />

		<InstallExecuteSequence>
			<Custom Action='NoDowngrade' After='FindRelatedProducts'>NEWERFOUND</Custom>
			<RemoveExistingProducts Before="InstallInitialize" />
		</InstallExecuteSequence>

		<Media Id='1' Cabinet='$(var.product).cab' EmbedCab='yes' DiskPrompt='CD-ROM #1' />

		<Property Id='DiskPrompt' Value="$(var.manufacturer)'s $(var.product) Installation [1]" />

		<Property Id="WIXUI_INSTALLDIR" Value="INSTALLDIR" />

		<UIRef Id="WixUI_InstallDir" />
		<UIRef Id="WixUI_ErrorProgressText" />

		<Icon Id="DefaultAppIcon.ico" SourceFile="..\Setup\Arteranos.ico" />

		<WixVariable Id="WixUILicenseRtf" Value="..\Setup\SetupLicense.rtf" />
		<WixVariable Id="WixUIBannerBmp" Value="..\Setup\Banner.bmp" />
		<WixVariable Id="WixUIDialogBmp" Value="..\Setup\Dialog.bmp" />

		<Property Id="ARPPRODUCTICON" Value="DefaultAppIcon.ico" />

		<Directory Id='TARGETDIR' Name='SourceDir'>
			<Directory Id='ProgramFiles64Folder' Name='PFiles'>
				<Directory Id='$(var.manufacturer)' Name='$(var.manufacturer)'>
					<Directory Id='INSTALLDIR' Name='$(var.product)'>
						<Directory Id='AppDir' Name='DesktopApp'>
							<Component Id='MainExecutable' Guid='D3F278DF-C1E3-44BE-90B9-93C47FBF6DC5'>
								<File Id='ArteranosEXE' Name='Arteranos.exe' DiskId='1' Source="Arteranos.exe" KeyPath='yes'>
									<Shortcut Id="startmenuDefaultApp" Directory="ProgramMenuDir" Name="$(var.product)"
											  WorkingDirectory='INSTALLDIR' Icon="DefaultAppIcon.ico" IconIndex="0" Advertise="yes" />
									<Shortcut Id="desktopDefaultApp" Directory="DesktopFolder" Name="$(var.product)"
											  WorkingDirectory='INSTALLDIR' Icon="DefaultAppIcon.ico" IconIndex="0" Advertise="yes" />
									<fw:FirewallException Id='MainAppFW' Name='Arteranos Desktop' Scope='any' />
								</File>
							</Component>
							<Component Id='MainAppCompanionExecutable' Guid='C6E64BF6-BAF6-43BB-BEF7-DD83E4F704EB'>
								<File Id='ipfsEXE1' Name='ipfs.exe' DiskId='1' Source='ipfs.exe'>
									<fw:FirewallException Id='MainAppCompFW' Name='Arteranos Desktop IPFS' Scope='any' />
								</File>
							</Component>
							<Component Id='ProtocolIntegration' Guid='CB5FFA88-1580-44B7-A422-664E52E94A46'>
								<RegistryKey Root='HKCR' Key='arteranos'>
									<RegistryValue Type='string' Value='URL:arteranos protocol' KeyPath='yes' />
									<RegistryValue Name='URL Protocol' Type='string' Value='' />
									<RegistryValue Key='shell\open\command' Type='string' Value='"[AppDir]Arteranos.exe" "%1"' />
								</RegistryKey>
							</Component>
						</Directory>
						<Directory Id='ServerDir' Name='DedicatedServer'>
							<Component Id='ServerExecutable' Guid='C50204F6-1BEE-455F-B04A-5B1F6E356FCE'>
								<File Id='ArteranosDSEXE' Name='Arteranos-Server.exe' DiskId='1' Source='Arteranos-Server.exe' KeyPath='yes'>
									<fw:FirewallException Id='ServerAppFW' Name='Arteranos Dedicated Server' Scope='any' />
								</File>
							</Component>
							<Component Id='ServerCompanionExecutable' Guid='C637EAD7-82C1-4A6F-9FC1-376CC1735581'>
								<File Id='ipfsEXE2' Name='ipfs.exe' DiskId='1' Source='ipfs.exe'>
									<fw:FirewallException Id='ServerAppCompFW' Name='Arteranos Dedicated Server IPFS' Scope='any' />
								</File>
							</Component>
						</Directory>
						<!--<Component Id='HelperLibrary' Guid='YOURGUID-6BE3-460D-A14F-75658D16550B'>
              <File Id='HelperDLL' Name='Helper.dll' DiskId='1' Source='Helper.dll' KeyPath='yes' />
            </Component>
            <Component Id='Manual' Guid='YOURGUID-574D-4A9A-A266-5B5EC2C022A4'>
              <File Id='Manual' Name='Manual.pdf' DiskId='1' Source='Manual.pdf' KeyPath='yes'>
                <Shortcut Id='startmenuManual' Directory='ProgramMenuDir' Name='Instruction Manual' Advertise='yes' />
              </File>
            </Component>-->

					</Directory>
				</Directory>
			</Directory>

			<Directory Id="ProgramMenuFolder" Name="Programs">
				<Directory Id="ProgramMenuDir" Name="$(var.product)">
					<Component Id="ProgramMenuDir" Guid="56387552-F88D-4DB3-8978-E5AAB88228EF">
						<RemoveFolder Id='ProgramMenuDir' On='uninstall' />
						<RegistryValue Root='HKCU' Key='Software\[Manufacturer]\[ProductName]' Type='string' Value='' KeyPath='yes' />
					</Component>

				</Directory>
			</Directory>

			<Directory Id="DesktopFolder" Name="Desktop" />
		</Directory>
		<Feature Id='Complete' Level='1'>
			<ComponentRef Id='MainExecutable' />
			<ComponentRef Id='MainAppCompanionExecutable' />
			<ComponentRef Id='ServerExecutable' />
			<ComponentRef Id='ServerCompanionExecutable' />
			<ComponentRef Id='ProgramMenuDir' />
			<ComponentRef Id='ProtocolIntegration' />
			<ComponentGroupRef Id="Pack_Win64_Server" />
			<ComponentGroupRef Id="Pack_Win64" />

			<!--<ComponentRef Id='HelperLibrary' />
      <ComponentRef Id='Manual' />-->

		</Feature>


	</Product>
</Wix>