<?xml version='1.0' encoding='utf-8' ?>

<?include ..\Setup\Data.wxi ?>

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:bal="http://schemas.microsoft.com/wix/BalExtension"
     xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">
  <Bundle Name="$(var.product)" Version="$(var.version)" Manufacturer="$(var.manufacturer)"
          UpgradeCode="$(var.UpgradeCode)"
          Copyright="Copyright © 2023 $(var.manufacturer)" IconSourceFile="..\Setup\Arteranos.ico">

    <Variable Name='InstallFolder' Value='[ProgramFiles64Folder]$(var.manufacturer)\$(var.product)' />
    
    <BootstrapperApplicationRef Id="WixStandardBootstrapperApplication.RtfLargeLicense">
      <bal:WixStandardBootstrapperApplication
        LicenseFile="..\Setup\Setuplicense.rtf"
        ShowVersion="yes"
        LogoFile="..\Setup\Arteranos-Logo.png"
        />
    </BootstrapperApplicationRef>

    <Chain>
      <MsiPackage Id="MainPackage" SourceFile="ArteranosSetup.msi" DisplayInternalUI="no" Compressed="yes" Vital="yes">
        <MsiProperty Name="INSTALLDIR" Value="[InstallFolder]" />
      </MsiPackage>
    </Chain>
  </Bundle>
</Wix>